<form novalidate name="userForm" [formGroup]="userForm">
  <div class="form-group">
    <label for="auth_username">Username</label>
    <input type="text" autofocus class="form-control" [formControl]=userForm.controls.username id="auth_username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="auth_user_password">Password</label>
    <input type="password" class="form-control" id="auth_user_password" [formControl]=userForm.controls.password placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Upload your CV.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Sign Up
    </label>
  </div>
  <div class="form-group">
    <label for="auth_confirm_password">Confirm Password</label>
    <input type="password" class="form-control" id="auth_confirm_password" [formControl]=userForm.controls.confirm_password placeholder="Name">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>