<form novalidate name="pupilForm" (ngSubmit)="onSubmit(pupilForm.value)" [formGroup]="pupilForm">  
  <div class="form-group">
    <label for="pupilName">Name</label>
    <input type="text" class="form-control" name="name" [formControl]="pupilForm.controls['name']" id="pupilName" placeholder="Name" required>
    <div [hidden]="!pupilForm.controls.name.hasError('required') || pupilForm.controls.name.pristine" class="alert alert-danger">
          Name is required
    </div>
    <div class="alert alert-danger" *ngIf="pupilForm.controls.name.hasError('invalidPupilName') && pupilForm.controls.name.dirty">
        Name must containt at least four characters
    </div>
  </div>
  <div class="form-group">
    <label for="pupilClassName">Class Name</label>
    <select class="form-control" id="pupilClassName" name="className" [formControl]="pupilForm.controls['className']" required>
      <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
    </select>
    <div [hidden]="pupilForm.controls.className.valid || pupilForm.controls.className.pristine" class="alert alert-danger">
        Class Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="pupilLevel">Level</label>
    <input type="number" class="form-control" max="10" id="pupilLevel" [formControl]="pupilForm.controls.level" name="level" placeholder="0" />
    <div class="alert alert-danger" *ngIf="pupilForm.controls.level.hasError('invaliPupilLevel') && pupilForm.controls.level.dirty">
      Level mustn't be more then 10
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!pupilForm.valid">Submit</button>
</form>