<div class="col-md-4 col-xs-12">
	<div class="pupilc-block">
	    <div class="property-description">
	    	<span class="label">Name:</span>
	    	<span>{{ pupil.name }}</span>
	    </div>
	    <div class="property-description">
	    	<span class="label">Class Name:</span>
	    	<span>{{ pupil.className }}</span>
	    </div>
	    <div class="property-description">
	    	<span class="label">Level:</span>
	    	<span>{{ pupil.level }}</span>
	    </div>
	    <div>
	    	<a [routerLink]="['/pupils', pupil.id]" class="btn btn-xs btn-primary">View Profile</a>
	    	<a (click)="onDelete()" class="btn btn-xs btn-danger">Delete</a>
	    	<a [routerLink]="['/pupils', pupil.id, 'edit']" class="btn btn-xs btn-info">Edit</a>
	    </div>
	</div>
</div>